certifi==2019.9.11
chardet==3.0.4
Click==7.0
docutils==0.15.2
idna==2.8
keyboard==0.13.4
Pillow==6.2.1
praw==6.4.0
prawcore==1.0.1
Pygments==2.4.2
pypiwin32==223
PyQt5==5.13.0
PyQt5-sip==12.7.0
pyqt5-tools==5.13.0.1.5
PyQt5Designer==5.10.1
python-dotenv==0.10.3
pywin32==227
requests==2.22.0
six==1.12.0
update-checker==0.16
urllib3==1.25.6
websocket-client==0.56.0
win10toast==0.9
